@import "~bootstrap/scss/bootstrap";

/* Offset content for fixed navbar height. */
body {
    padding-top: 76px;
}

img {
    transition: transform 1.5s ease-in-out;
    transform-origin: bottom center;
}

img:hover {
    transform: scale(1.5);
    transform-origin: bottom center;
    position: relative;
    z-index: 100;
}

/* .table-responsive {
    max-height: 65vh;
    overflow-y: auto;
}

.table-responsive thead th {
    position: sticky;
    top: 0;
}
 */
